<h2> Vendas </h2>
<hr />

@model VendaViewModel;

@{
    var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<form asp-controller="Venda" asp-action="Cadastro" method="post">


    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

    <div class="form-group">
        <div class="col-4">
            <label> Data </label>
            <input type="text" asp-for="Data" value="@Model.Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <br />

        <div class="col-4">
            <label> Cliente </label>
            <!-- <input type="text" asp-for="ListaClientes" value="@Model.ListaClientes" class="form-control" /> -->
            <select asp-for="CodigoCliente" asp-items="@Model.ListaClientes" class="form-control" input-lg></select>
            <span asp-validation-for="CodigoCliente" class="text-danger"></span>
        </div>
        <br />

        <div class="col-4">
            <label> Produtos </label>
            <!-- <input type="text" asp-for="ListaProdutos" value="@Model.ListaProdutos" class="form-control" /> -->
            <select id="cboProduto" onchange="BuscarPrecoProduto()" asp-items="@Model.ListaProdutos" class="form-control" input-lg></select>
            
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <label> Preço unitário</label>
                <input id="txtPrecoUnitario" type="number" class="form-control" disabled />
            </div>
        </div>
        <br />

        <br />
        <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
        <button type="submit" class="btn btn-success" onclick="Novo()">Gravar</button>
        <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
        <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)" @disabled>Excluir</button>
    </div>
</form>

<script>
    function BuscarPrecoProduto(){
        var codigoProduto = document.getElementById("cboProduto");
        var url = `/LerValorProduto/${codigoProduto.value}`;

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                document.getElementById("txtPrecoUnitario").value = xhr.responseText;
            }
        }
        xhr.open('GET', url, false);
        xhr.send(null);

        
    }
    function Novo() {
        Request("Cadastro");
    }

    function Listagem() {
        Request("");
    }

    function Excluir(codigo) {
        Request("Excluir\\" + codigo);
    }

    function Request(request) {
        window.location = window.origin + "\\Venda\\" + request;
    }

</script>